In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

ImportError: No module named 'matplotlib'

In [ ]:
sns.set()
%matplotlib inline

In [3]:
df = pd.read_csv("./Salary_Data.csv")

In [7]:
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
YearsExperience    30 non-null float64
Salary             30 non-null float64
dtypes: float64(2)
memory usage: 560.0 bytes

In [9]:
df.isnull().values.any()

False

In [ ]:
train_set, test_set = train_test_split(df, test_size=0.2, random_state=42)

In [10]:
df.describe()

       YearsExperience         Salary
count        30.000000      30.000000
mean          5.313333   76003.000000
std           2.837888   27414.429785
min           1.100000   37731.000000
25%           3.200000   56720.750000
50%           4.700000   65237.000000
75%           7.700000  100544.750000
max          10.500000  122391.000000

### The years of experience and salary are positively correlated by 98%. In fact, if we plot this we can see that correlation.

In [11]:
df.corr()

                 YearsExperience    Salary
YearsExperience         1.000000  0.978242
Salary                  0.978242  1.000000

In [13]:
df.plot.scatter(x='YearsExperience', y='Salary')

ImportError: matplotlib is required for plotting.

In [ ]:
# Regression plot
sns.regplot('YearsExperience', # Horizontal axis
           'Salary', # Vertical axis
           data=df)

# Build the model

In [ ]:
train_set, test_set = train_test_split(df, test_size=0.2, random_state=42)

In [ ]:
train_set_full = train_set.copy()

train_set = train_set.drop(["Salary"], axis=1)

In [ ]:
train_labels = df["Salary"]

In [ ]:
lin_reg = LinearRegression()

lin_reg.fit(train_set, train_labels)

In [ ]:
print("Coefficients: ", lin_reg.coef_)
print("Intercept: ", lin_reg.intercept_)

In [ ]:
salary_pred = lin_reg.predict(test_set)

salary_pred

In [ ]:
salary_pred = lin_reg.predict(10)

salary_pred

In [ ]:
print(salary_pred)
print(test_set_full["Salary"])

In [ ]:
lin_reg.score(test_set, test_set_full["Salary"])

In [ ]:
plt.scatter(test_set_full["YearsExperience"], test_set_full["Salary"],  color='blue')
plt.plot(test_set_full["YearsExperience"], salary_pred, color='red', linewidth=2)